a {
    padding: 0 12px;
}

nav {
    background-color: #ffffff;
}

.nav__wrap {

    height: 71px;
    margin-right: 460px;
    margin-left: 400px;
    line-height: 35px;
}

.nav__list {
    position: relative;
    display: inline-block;
    top: inherit;
    left: inherit;
    right: inherit;
    bottom: inherit;
    overflow-y: inherit;
    float: right;
}

.logo__title {
    color: #5fc85c;
    display: inline-block;
}

.nav__item {
    display: inline-block;
    color: #5FC85C;
}

a {
    color: #5FC85C;
}
