@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


h1 {
    color: #000;
}

.beer_wrapper_block {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    margin: 150px 120px;
}

.beer_img {
    background-image: url("../assets/static/beerbanner.png");
}

.text__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub__text {
    color: #979797;
    font-size: 20px;
    max-width: 570px;
    white-space: normal;
    line-height: 30px;
}

.beer-wrapper {
    width: 100%;
    border-style: none;
}


.beer-wrapper--landing {
    margin-bottom: 0;
}

.beer-wrapper__headline {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-size: cover;
    position: relative;
}

.beer__wrapper__headline--landing {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 720px;
}

.beer_wrapper_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.beer__wrapper_content--landing {
    text-align: left;
}

.card__section {
    box-shadow: inset 7px 5px 30px rgba(72, 73, 121, 0.15);
}

.title__cards__section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    text-align: center;
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.card__section p {
    margin-top: 0;
    text-align: center;
    color: black;
}

.cards__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 150px;
}

.card_one {
    display: flex;
    justify-content: center;
    max-width: 350px;
}


img{
    margin-right: 50px;
}

img:last-child{
    margin-right: 0;
}

.map__title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    color: #000;
}

.beer__map {
    background-image: url("../assets/static/francemap.png");
}

.france__map {
    text-align: center;
}

.france__map path {
    fill: #5fc85c;
    stroke: #000;
    stroke-width: 0.50px;
    transition: fill 0.3s;
}

.france__map path:hover {
    fill: #f3bd47;
}
